* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Oxanium", sans-serif;
  background: #f7f7f7;
}

button,
input,
select {
  font-family: inherit;
}
